/*
    author: Shen Kai Huang
    notes: COMP 1950 - Final Project
    date: Dec 09, 2018
*/

/* set general style */
body{
    font-family: arial, helvetica, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: white;
}

/* set headings size */
h1{
    font-family: times, "times new roman", serif;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2{
    font-family: times, "times new roman", serif;
    font-size: 2.0rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3{
    font-family: times, "times new roman", serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h4{
    font-family: times, "times new roman", serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h5{
    font-family: times, "times new roman", serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h6{
    font-family: times, "times new roman", serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
} 

/* set unordered list style */
ul{
    padding-left: 35px;
    list-style-type: disc;
}

/* set todo list style */
#todo {
    float:right;
    width: 100%;
    background-color: #ffffcc;
    border: 2px solid red;
    border-radius: 5px;
}

#todo h2{
    font-family: times, "times new roman", serif;
    font-size: 2vw;
}

#todo ul{
    padding: 0;
}

#todo li{
    list-style-type: none;
    text-align: left;
}

#todo a{
    padding-left: 5px;
    padding-right: 5px;
}
/****header style******/
.jumbotron
{
    text-align: center;
    font-family: times, "times new roman", serif;
    background-image: url('images/banner_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
h1.display-3{
    filter: contrast(200%);
}
p.display-3{
    filter: contrast(200%);
}

#sub_heading{
    font-weight: bold;
    font-size: 1.2rem;
}

/* navgiation style */
nav{
    background-color:#99d5ff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

nav ul{
    padding-left: 5px;
}

nav li{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav a{
    font-family: times, "times new roman", serif;
    font-weight: bold;
    color: black;
}

nav a:link{
    color: black;
}

nav a:visited{
    color: gray;
}

nav a:hover{
    color: red;
}

nav a:active{
    color: red;
}

nav h2{
    font-family: times, "times new roman", serif;
    font-size: 2vw;
    text-align: center;

}

/* set general hyperlink style */
a:link{
    color: blue;
}

a:visited{
    color: gray;
}

a:hover{
    color: red;
}

a:active{
    color: red;
}

/* set imporant information style */
.important{
    font-weight: bold;
    background-color: orange;
}

/* set overview list style */
.overview_list{
    list-style-type: none;
    font-weight: bold;
    background-color: greenyellow;
    padding-left: 5px;
}

.no_list_style{
    list-style-type: none;
}

/* set footer style */
footer{
    font-family: times, "times new roman", serif;
    text-align: center;
    font-weight: bold;
}

/********** printer style***************/
@media print{
    nav, footer, #todo{
        display:none;
    }
    h1, h2, h3, h4, h5, h6{
        page-break-after: avoid;
    }
    section{
        page-break-before: always;
    }
    a[href^="http"]:after{
        content: " (URL: "attr(href) ") ";
    }
    
}